body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-outline-primary{
  border-color: transparent;
}

.buttontran{
    transition-duration: 0.4s;
}

.button:hover{
  background-color: rgb(39, 100, 100); /* Green */
    color: white;
}

.e{
  transition-duration: 0.4s;
}
.e:hover{
  background-color: rgb(139, 175, 155); /* Green */
    color: black;
}

.card{
  display: table-cell;
  background-color: transparent;
  border: none;
}

.card-container{
  display: table;
  table-layout: fixed;
  width: 80%
}